# Pandas para los que vienen de Excel

Como la mayoría de ustedes tienen algo de familiaridad con Excel, vamos a ver varios ejemplos de como ciertos conceptos básicos de hoja de cálculo pueden ser realizados con pandas.

Lo primero será importar pandas

In [54]:
import pandas as pd

y Numpy

In [56]:
import numpy as np

## Los elementos de Pandas vs Excel

DataFrame = hoja de trabajo

Series = Columna

Index = Encabezado de fila

NaN = celda vacia

## Importar datos a Pandas

Vamos trayendo nuestros datos del restaurand a un datafarme (desde csv)

In [62]:
df= pd.read_excel("Datos Restaurante.xlsx")

In [63]:
print(df.head())

   Orden      Fecha Hora de Cobro  Mesa  Atendió    Tipo        Producto  \
0      1 2014-02-01      18:43:12     1  Rodolfo  Bebida          Tecate
1      1 2014-02-01      18:43:12     1  Rodolfo  Bebida          Tisana
2      1 2014-02-01      18:43:12     1  Rodolfo  Bebida  Café americano
3      1 2014-02-01      18:43:12     1  Rodolfo  Bebida       Te helado
4      1 2014-02-01      18:43:12     1  Rodolfo  Comida  Pera Rostizada

           Categoria  Propina Tipo de Cliente
0           Cervezas     0.07   Cliente Nuevo
1  Bebida no Alcohol     0.07   Cliente Nuevo
2  Bebida no Alcohol     0.07   Cliente Nuevo
3  Bebida no Alcohol     0.07   Cliente Nuevo
4          Ensaladas     0.07   Cliente Nuevo

Y nuestros costos a un segundo dataframe (desde excel)

In [66]:
df= pd.read_csv("Precios Restaurant.csv")

In [68]:
print(df.head())

    Producto               Tipo  Precio   Costo
0   Refresco  Bebida no Alcohol  $20.00  $16.00
1   Limonada  Bebida no Alcohol  $25.00  $20.00
2  Naranjada  Bebida no Alcohol  $25.00  $18.25
3     Tisana  Bebida no Alcohol  $25.00  $18.00
4  Te helado  Bebida no Alcohol  $25.00  $18.50

## Operaciones en Pandas

Vamos creando una columan nueva de ganancias que será igual a precio menos costo de precios y costos

In [73]:
import pandas as pd

df = pd.read_csv("Precios Restaurant.csv")

df['Precio'] = df['Precio'].replace({r'\$': '', ',': ''}, regex=True).astype(float)
df['Costo'] = df['Costo'].replace({r'\$': '', ',': ''}, regex=True).astype(float)

In [75]:
print(df.head())

    Producto               Tipo  Precio  Costo
0   Refresco  Bebida no Alcohol    20.0  16.00
1   Limonada  Bebida no Alcohol    25.0  20.00
2  Naranjada  Bebida no Alcohol    25.0  18.25
3     Tisana  Bebida no Alcohol    25.0  18.00
4  Te helado  Bebida no Alcohol    25.0  18.50

In [77]:
df['Ganancia'] = df['Precio'] - df['Costo']

In [79]:
print(df.head())

    Producto               Tipo  Precio  Costo  Ganancia
0   Refresco  Bebida no Alcohol    20.0  16.00      4.00
1   Limonada  Bebida no Alcohol    25.0  20.00      5.00
2  Naranjada  Bebida no Alcohol    25.0  18.25      6.75
3     Tisana  Bebida no Alcohol    25.0  18.00      7.00
4  Te helado  Bebida no Alcohol    25.0  18.50      6.50

Vamos tirando la columna de "hora" del restaruant

In [102]:
import pandas as pd

df= pd.read_excel("Datos Restaurante.xlsx")

In [104]:
print(df.columns)

Index(['Orden', 'Fecha', 'Hora de Cobro', 'Mesa', 'Atendió', 'Tipo',
       'Producto', 'Categoria', 'Propina', 'Tipo de Cliente'],
      dtype='object')

In [106]:
import pandas as pd

df = pd.read_excel("Datos Restaurante.xlsx")

df = df.drop(columns=['Hora de Cobro'])

In [107]:
print(df.head())

   Orden      Fecha  Mesa  Atendió    Tipo        Producto          Categoria  \
0      1 2014-02-01     1  Rodolfo  Bebida          Tecate           Cervezas
1      1 2014-02-01     1  Rodolfo  Bebida          Tisana  Bebida no Alcohol
2      1 2014-02-01     1  Rodolfo  Bebida  Café americano  Bebida no Alcohol
3      1 2014-02-01     1  Rodolfo  Bebida       Te helado  Bebida no Alcohol
4      1 2014-02-01     1  Rodolfo  Comida  Pera Rostizada          Ensaladas

   Propina Tipo de Cliente
0     0.07   Cliente Nuevo
1     0.07   Cliente Nuevo
2     0.07   Cliente Nuevo
3     0.07   Cliente Nuevo
4     0.07   Cliente Nuevo

Arma un nuevo dataframe con todos los platillos de más de 100 pesos de precio (usando filtros)

In [124]:
import pandas as pd

df = pd.read_csv("Precios Restaurant.csv")

df['Precio'] = df['Precio'].replace({'\\$': '', ',': ''}, regex=True).astype(float)

df['Costo'] = df['Costo'].replace({'\\$': '', ',': ''}, regex=True).astype(float)

In [126]:
print(df.head())

    Producto               Tipo  Precio  Costo
0   Refresco  Bebida no Alcohol    20.0  16.00
1   Limonada  Bebida no Alcohol    25.0  20.00
2  Naranjada  Bebida no Alcohol    25.0  18.25
3     Tisana  Bebida no Alcohol    25.0  18.00
4  Te helado  Bebida no Alcohol    25.0  18.50

In [128]:
df_mayor_100 = df[df['Precio'] > 100]

In [130]:
print(df_mayor_100)

              Producto            Tipo  Precio   Costo
16              Vino 1           Vinos   587.0  422.64
17              Vino 2           Vinos   545.0  397.85
18              Vino 3           Vinos   670.0  415.40
19              Vino 4           Vinos   410.0  270.60
20              Vino 5           Vinos   758.0  553.34
21              Vino 6           Vinos   715.0  536.25
22              Vino 7           Vinos   748.0  501.16
23              Vino 8           Vinos   383.0  256.61
24             Vino 9            Vinos   647.0  478.78
25             Vino 10           Vinos   708.0  431.88
37     Pesto & Camarón          Pizzas   125.0  108.70
38      Salmón Ahumado          Pizzas   135.0  117.39
39           Del Cheff          Pizzas   135.0  117.39
40            Italiana          Pizzas   123.0  106.96
41           Margarita          Pizzas   105.0   91.30
42            Mexicana          Pizzas   115.0  100.00
43     Pollo al Pastor          Pizzas   115.0  100.00
44       Pizza Prímula          Pizzas   105.0   91.30
45            Tropical          Pizzas   125.0  108.70
57     Pollo Silvestre  Platos Fuertes   125.0  108.70
58     Margret de Pato  Platos Fuertes   198.0  172.17
59               Vacío  Platos Fuertes   164.0  142.61
60  Arrachera del Chef  Platos Fuertes   135.0  117.39
61     Salmón al Pesto  Platos Fuertes   174.0  151.30
62     Atún Encostrado  Platos Fuertes   178.0  154.78

Arma una nueva columna que clasifique platillos en alto/bajo margen, según si su ganancia es mayor a 100 pesos

In [132]:
import pandas as pd

df = pd.read_csv("Precios Restaurant.csv")

df['Precio'] = df['Precio'].replace({'\\$': '', ',': ''}, regex=True).astype(float)
df['Costo'] = df['Costo'].replace({'\\$': '', ',': ''}, regex=True).astype(float)

df['Ganancia'] = df['Precio'] - df['Costo']

df['Margen'] = df['Ganancia'].apply(lambda x: 'Alto Margen' if x > 100 else 'Bajo Margen')

In [134]:
print(df[['Producto', 'Ganancia', 'Margen']])

                Producto  Ganancia       Margen
0               Refresco      4.00  Bajo Margen
1               Limonada      5.00  Bajo Margen
2              Naranjada      6.75  Bajo Margen
3                 Tisana      7.00  Bajo Margen
4              Te helado      6.50  Bajo Margen
..                   ...       ...          ...
72                  Tako      9.78  Bajo Margen
73            Empanizado      8.48  Bajo Margen
74          Philadelphia      9.78  Bajo Margen
75               Tempura      9.78  Bajo Margen
76  California Horizonte      8.48  Bajo Margen

[77 rows x 3 columns]

Cambiale el nombre a la columna de Atendió por Mesero en el df de Restaurant

In [138]:
import pandas as pd

df = pd.read_excel("Datos Restaurante.xlsx")

df = df.rename(columns={'Atendió': 'Mesero'})

In [141]:
print(df.head())

   Orden      Fecha Hora de Cobro  Mesa   Mesero    Tipo        Producto  \
0      1 2014-02-01      18:43:12     1  Rodolfo  Bebida          Tecate
1      1 2014-02-01      18:43:12     1  Rodolfo  Bebida          Tisana
2      1 2014-02-01      18:43:12     1  Rodolfo  Bebida  Café americano
3      1 2014-02-01      18:43:12     1  Rodolfo  Bebida       Te helado
4      1 2014-02-01      18:43:12     1  Rodolfo  Comida  Pera Rostizada

           Categoria  Propina Tipo de Cliente
0           Cervezas     0.07   Cliente Nuevo
1  Bebida no Alcohol     0.07   Cliente Nuevo
2  Bebida no Alcohol     0.07   Cliente Nuevo
3  Bebida no Alcohol     0.07   Cliente Nuevo
4          Ensaladas     0.07   Cliente Nuevo

## Merging o Vlookup

Vamos a juntar los 2 dataframes usando un left join

In [144]:
import pandas as pd

df_restaurant = pd.read_excel("Datos Restaurante.xlsx")
df_precios = pd.read_csv("Precios Restaurant.csv")

df_precios['Precio'] = df_precios['Precio'].replace({'\\$': '', ',': ''}, regex=True).astype(float)
df_precios['Costo'] = df_precios['Costo'].replace({'\\$': '', ',': ''}, regex=True).astype(float)

df_combinado = pd.merge(df_restaurant, df_precios, how='left', left_on='Producto', right_on='Producto')

In [145]:
print(df_combinado.head())

   Orden      Fecha Hora de Cobro  Mesa  Atendió  Tipo_x        Producto  \
0      1 2014-02-01      18:43:12     1  Rodolfo  Bebida          Tecate
1      1 2014-02-01      18:43:12     1  Rodolfo  Bebida          Tisana
2      1 2014-02-01      18:43:12     1  Rodolfo  Bebida  Café americano
3      1 2014-02-01      18:43:12     1  Rodolfo  Bebida       Te helado
4      1 2014-02-01      18:43:12     1  Rodolfo  Comida  Pera Rostizada

           Categoria  Propina Tipo de Cliente             Tipo_y  Precio  \
0           Cervezas     0.07   Cliente Nuevo           Cervezas    25.0
1  Bebida no Alcohol     0.07   Cliente Nuevo  Bebida no Alcohol    25.0
2  Bebida no Alcohol     0.07   Cliente Nuevo  Bebida no Alcohol    18.0
3  Bebida no Alcohol     0.07   Cliente Nuevo  Bebida no Alcohol    25.0
4          Ensaladas     0.07   Cliente Nuevo          Ensaladas    89.0

   Costo
0  18.00
1  18.00
2  12.60
3  18.50
4  77.39

Cuales son las diferencias entre merge de Python y Vlookup de Excel?

In [ ]:
merge() es más rápido para grandes volúmenes de datos y uniones algo complejas.
    
VLOOKUP en Excel es más sencillo, solo busca valores a la derecha,
es más limitado y menos útil con grandes datos.

## Quitar duplicados

Crea un nueva Serie con la columna de "Mesero" - obten los valores únicos

In [151]:
meseros_unicos = df['Mesero'].unique()

In [153]:
serie_meseros = pd.Series(meseros_unicos)

In [155]:
print(serie_meseros)

0      Rodolfo
1     Mauricio
2         Joel
3    Valentina
4         Omar
5         Saul
6    Alejandro
7      Mariana
8      Ernesto
dtype: object

## Tablas Dinámicas

Pandas también nos permite analizar datos mediante tablas dinámicas

Vamos creando una tabla dinámica que nos muestre las ventas por categoría

In [165]:
import pandas as pd

df = pd.read_csv("Precios Restaurant.csv")

df['Precio'] = df['Precio'].replace({'\\$': '', ',': ''}, regex=True).astype(float)
df['Costo'] = df['Costo'].replace({'\\$': '', ',': ''}, regex=True).astype(float)

print(df.head())

    Producto               Tipo  Precio  Costo
0   Refresco  Bebida no Alcohol    20.0  16.00
1   Limonada  Bebida no Alcohol    25.0  20.00
2  Naranjada  Bebida no Alcohol    25.0  18.25
3     Tisana  Bebida no Alcohol    25.0  18.00
4  Te helado  Bebida no Alcohol    25.0  18.50

In [167]:
tabla_dinamica = pd.pivot_table(df, values='Precio', index='Tipo', aggfunc='sum')

print(tabla_dinamica)

                   Precio
Tipo
Bebida no Alcohol   213.0
Cervezas            210.0
Ensaladas           554.0
Entradas            571.0
Pastas              276.0
Pizzas             1083.0
Platos Fuertes      974.0
Postres             259.0
Sushi               560.0
Tacos               232.0
Vinos              6171.0

Ahora una tabla dinámica que nos muestre las ventas por categoría y por tipo en la columna

In [181]:
tabla_dinamica2 = pd.pivot_table(df, values='Precio', index='Tipo', columns='Producto', aggfunc='sum')
print(tabla_dinamica2)

Producto           Arrachera del Chef  Atún Encostrado  Brochetas Hawaiianas  \
Tipo
Bebida no Alcohol                 NaN              NaN                   NaN
Cervezas                          NaN              NaN                   NaN
Ensaladas                         NaN              NaN                   NaN
Entradas                          NaN              NaN                  74.0
Pastas                            NaN              NaN                   NaN
Pizzas                            NaN              NaN                   NaN
Platos Fuertes                  135.0            178.0                   NaN
Postres                           NaN              NaN                   NaN
Sushi                             NaN              NaN                   NaN
Tacos                             NaN              NaN                   NaN
Vinos                             NaN              NaN                   NaN

Producto           Café americano  California Horizonte  Camarones Momia  \
Tipo
Bebida no Alcohol            18.0                   NaN              NaN
Cervezas                      NaN                   NaN              NaN
Ensaladas                     NaN                   NaN              NaN
Entradas                      NaN                   NaN             75.0
Pastas                        NaN                   NaN              NaN
Pizzas                        NaN                   NaN              NaN
Platos Fuertes                NaN                   NaN              NaN
Postres                       NaN                   NaN              NaN
Sushi                         NaN                  65.0              NaN
Tacos                         NaN                   NaN              NaN
Vinos                         NaN                   NaN              NaN

Producto           Camarones al Coco  Capuccino  Corona  Cítricos  ...  \
Tipo                                                               ...
Bebida no Alcohol                NaN       30.0     NaN       NaN  ...
Cervezas                         NaN        NaN    30.0       NaN  ...
Ensaladas                       84.0        NaN     NaN      69.0  ...
Entradas                         NaN        NaN     NaN       NaN  ...
Pastas                           NaN        NaN     NaN       NaN  ...
Pizzas                           NaN        NaN     NaN       NaN  ...
Platos Fuertes                   NaN        NaN     NaN       NaN  ...
Postres                          NaN        NaN     NaN       NaN  ...
Sushi                            NaN        NaN     NaN       NaN  ...
Tacos                            NaN        NaN     NaN       NaN  ...
Vinos                            NaN        NaN     NaN       NaN  ...

Producto           Vino 1  Vino 10  Vino 2  Vino 3  Vino 4  Vino 5  Vino 6  \
Tipo
Bebida no Alcohol     NaN      NaN     NaN     NaN     NaN     NaN     NaN
Cervezas              NaN      NaN     NaN     NaN     NaN     NaN     NaN
Ensaladas             NaN      NaN     NaN     NaN     NaN     NaN     NaN
Entradas              NaN      NaN     NaN     NaN     NaN     NaN     NaN
Pastas                NaN      NaN     NaN     NaN     NaN     NaN     NaN
Pizzas                NaN      NaN     NaN     NaN     NaN     NaN     NaN
Platos Fuertes        NaN      NaN     NaN     NaN     NaN     NaN     NaN
Postres               NaN      NaN     NaN     NaN     NaN     NaN     NaN
Sushi                 NaN      NaN     NaN     NaN     NaN     NaN     NaN
Tacos                 NaN      NaN     NaN     NaN     NaN     NaN     NaN
Vinos               587.0    708.0   545.0   670.0   410.0   758.0   715.0

Producto           Vino 7  Vino 8  Vino 9
Tipo
Bebida no Alcohol     NaN     NaN      NaN
Cervezas              NaN     NaN      NaN
Ensaladas             NaN     NaN      NaN
Entradas              NaN     NaN      NaN
Pastas                NaN     NaN      NaN
Pizzas                NaN     NaN      NaN
Platos Fuertes        NaN     NaN      NaN
Postres               NaN     NaN      NaN
Sushi                 NaN     NaN      NaN
Tacos                 NaN     NaN      NaN
Vinos               748.0   383.0    647.0

[11 rows x 77 columns]

Crea una tabla dináica que muestre las ventas por tipo y categoría (filas), y por mesero (columnas)

In [191]:
tabla_dinamica = pd.pivot_table(df_combinado, 
                                 values='Precio', 
                                 index=['Tipo_x', 'Categoria'], 
                                 columns='Atendió',  # 'Atendió' parece ser el nombre de la columna del mesero
                                 aggfunc='sum', 
                                 fill_value=0)

print(tabla_dinamica)

Atendió                   Alejandro  Ernesto     Joel  Mariana  Mauricio  \
Tipo_x Categoria
Bebida Bebida no Alcohol    21882.0  23244.0  22393.0  22514.0   18149.0
       Cervezas             22150.0  22870.0  22235.0  20595.0   17895.0
       Vinos                45957.0  38776.0  43333.0  25250.0       0.0
Comida Ensaladas            22756.0  21592.0  24344.0  22312.0   19644.0
       Entradas             21502.0  24555.0  22506.0  21255.0   19208.0
       Pastas               10374.0  11119.0  10602.0   8250.0    8481.0
       Pizzas               43626.0  47386.0  43325.0  46582.0   33872.0
       Platos Fuertes       37157.0  44278.0  44573.0  38887.0   29893.0
       Postres              10919.0   9780.0  11728.0  11000.0    7958.0
       Tacos                 8111.0   9036.0   8807.0   9457.0    7453.0

Atendió                      Omar  Rodolfo     Saul  Valentina
Tipo_x Categoria
Bebida Bebida no Alcohol  22870.0  21920.0  21532.0    19976.0
       Cervezas           22480.0  22385.0  20920.0    20065.0
       Vinos              31078.0  26233.0  35019.0    27153.0
Comida Ensaladas          24245.0  21567.0  22049.0    20700.0
       Entradas           22436.0  21707.0  21372.0    18970.0
       Pastas             11164.0  12187.0   9951.0    10239.0
       Pizzas             43771.0  40154.0  43319.0    43153.0
       Platos Fuertes     42607.0  44259.0  35199.0    36772.0
       Postres            10595.0  10391.0   9553.0     9585.0
       Tacos              10835.0   8741.0   8107.0     6799.0

In [194]:
tabla_dinamica = pd.pivot_table(df_combinado, 
                                 values='Precio', 
                                 index=['Tipo_x', 'Categoria'], 
                                 columns='Atendió',  # 'Atendió' parece ser el nombre de la columna del mesero
                                 aggfunc='sum', 
                                 fill_value=0)

print(tabla_dinamica)

Atendió                   Alejandro  Ernesto     Joel  Mariana  Mauricio  \
Tipo_x Categoria
Bebida Bebida no Alcohol    21882.0  23244.0  22393.0  22514.0   18149.0
       Cervezas             22150.0  22870.0  22235.0  20595.0   17895.0
       Vinos                45957.0  38776.0  43333.0  25250.0       0.0
Comida Ensaladas            22756.0  21592.0  24344.0  22312.0   19644.0
       Entradas             21502.0  24555.0  22506.0  21255.0   19208.0
       Pastas               10374.0  11119.0  10602.0   8250.0    8481.0
       Pizzas               43626.0  47386.0  43325.0  46582.0   33872.0
       Platos Fuertes       37157.0  44278.0  44573.0  38887.0   29893.0
       Postres              10919.0   9780.0  11728.0  11000.0    7958.0
       Tacos                 8111.0   9036.0   8807.0   9457.0    7453.0

Atendió                      Omar  Rodolfo     Saul  Valentina
Tipo_x Categoria
Bebida Bebida no Alcohol  22870.0  21920.0  21532.0    19976.0
       Cervezas           22480.0  22385.0  20920.0    20065.0
       Vinos              31078.0  26233.0  35019.0    27153.0
Comida Ensaladas          24245.0  21567.0  22049.0    20700.0
       Entradas           22436.0  21707.0  21372.0    18970.0
       Pastas             11164.0  12187.0   9951.0    10239.0
       Pizzas             43771.0  40154.0  43319.0    43153.0
       Platos Fuertes     42607.0  44259.0  35199.0    36772.0
       Postres            10595.0  10391.0   9553.0     9585.0
       Tacos              10835.0   8741.0   8107.0     6799.0

Crea una tabla dinámica que muestre las ventas promedio por mesero

In [196]:
tabla_dinamica_promedio = pd.pivot_table(
    df_combinado, 
    values='Precio', 
    index='Atendió', 
    aggfunc='mean', 
    fill_value=0
)

In [198]:
print(tabla_dinamica_promedio)

              Precio
Atendió
Alejandro  71.263557
Ernesto    70.274270
Joel       71.405345
Mariana    66.874298
Mauricio   58.981495
Omar       67.943026
Rodolfo    66.844496
Saul       68.773402
Valentina  68.467116